/* text springing out */ 
#example_007 li {
	padding: 20px;
	float: left;
	position: relative;
	list-style: none;
}
#example_007 a {
	font-size: 23px;
	color: #000080;
	text-decoration: none;
	background: #30ff00;
	padding: 3px;
}
#example_007 li:hover {
	-webkit-transition-duration: 800ms;
	-webkit-transition-property: text-shadow, rotate;
	-webkit-transition-timing-function: ease;
	-moz-transition-duration: 800ms;
	-moz-transition-property: text-shadow, rotate;
	-moz-transition-timing-function: ease;
	-o-transition-duration: 800ms;
	-o-transition-property: text-shadow, rotate;
	-o-transition-timing-function: ease;
	text-shadow: 30px 50px 1px #000080;
	-webkit-transform:rotate(50deg);
	-moz-transform:rotate(50deg);
	-ms-transform:rotate(50deg);
	-o-transform:rotate(50deg);
	transform: rotate(50deg);
}
#example_007 a:hover {
	-webkit-transition-duration: 800ms;
	-webkit-transition-property: color;
	-webkit-transition-timing-function: ease;
	-moz-transition-duration: 800ms;
	-moz-transition-property: color;
	-moz-transition-timing-function: ease;
	-o-transition-duration: 800ms;
	-o-transition-property: color;
	-o-transition-timing-function: ease;
	color: #30ff00;
}
